# Looking at user data
findings 
- 17% of queries had no retrieved records - AND we didn't have a backup set.
- Designing for this contingency (default set of popular showbags) and trialing query expansion may get around this in future.

In [2]:
import sqlite3
import pandas as pd 

# Define the path to your database file
db_path = 'showbag_logs.db' # downloaded from modal volume
with sqlite3.connect(db_path) as conn:
    print(f"Successfully connected to database: {db_path}")

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()

    # --- Example 1: List all tables in the database ---
    print("\nTables in the database:")
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall() # Fetch all results
    if tables:
        for table in tables:
            print(f"- {table[0]}")
    else:
        print("No tables found.")

Successfully connected to database: showbag_logs.db

Tables in the database:
- interactions
- votes

In [3]:
conn = sqlite3.connect(db_path)
pd.read_sql_query("SELECT * FROM interactions", conn)

,id,timestamp,user_query,retrieved_context,final_response
0,9bb8b856-c772-4737-9c66-7e07d38e1900,2025-04-14T00:58:50.553814,toddler boy who likes dinosaurs,"[""a5a5fc36-c047-4f6a-92e2-3b377aa54868"", ""23ff...",Found 10 showbags matching 'toddler boy who li...
1,b8f80ba1-06db-4c59-844b-ee34681e4638,2025-04-14T01:14:14.660937,kid who loves bluey,"[""e3a590f7-9577-40f4-9051-1625e9c6ae26"", ""22f0...",Found 12 showbags matching 'kid who loves blue...
2,8778c470-36b8-4381-a591-9b132e72eb04,2025-04-14T05:18:43.002341,something pink and sparkly for a 5 year old girl,"[""65471567-b6f6-4bee-9b2a-aa9fc9205ad4"", ""97e0...",Found 50 showbags matching 'something pink and...
3,9982c84c-6d54-434f-a918-e3879e175a96,2025-04-14T05:19:57.982161,Collingwood,"[""5fd32d43-79c7-4753-a412-6e106d60f2c6"", ""b56b...",Found 25 showbags matching 'Collingwood' below...
4,d92bb22f-9f2e-486e-b200-5e119a71a9a2,2025-04-14T05:21:05.210827,Carlton Blues,"[""c1efaf62-b89f-44b8-80ae-bf917a311ea8""]",Found 1 showbags matching 'Carlton Blues' belo...
...,...,...,...,...,...
92,bc5b1960-8934-44a1-ba56-32b04c5872c2,2025-04-17T19:20:30.320100,Taylor swift,[],Found 408 showbags matching 'Taylor swift ' be...
93,d3bde0b6-32b0-4cb1-8802-94b7fa6e5598,2025-04-18T02:42:28.154472,kid who loves bluey,"[""e3a590f7-9577-40f4-9051-1625e9c6ae26"", ""22f0...",Found 12 showbags matching 'kid who loves blue...
94,d7bb5206-78ff-40f5-b166-60ae073181c0,2025-04-18T02:42:30.022665,kid who loves bluey,"[""e3a590f7-9577-40f4-9051-1625e9c6ae26"", ""22f0...",Found 12 showbags matching 'kid who loves blue...
95,5c7bd894-faa2-46ed-be46-7ead8334c971,2025-04-18T05:11:51.718102,Geek,"[""65cf8409-2cd8-4001-b85f-05f342aa4a9f""]",Found 1 showbags matching 'Geek' below $50.
96,6714a79d-cf0b-4cf4-a77b-c41d82cb0962,2025-04-18T05:12:57.332322,Killer python,[],Found 408 showbags matching 'Killer python' be...

In [7]:
# when there is no retrieved context it shows everything (fails silently)
# tired father who wants sugar should have been matched - maybe prompt elaboration
data = pd.read_sql_query("SELECT * FROM interactions", conn)

data[data.retrieved_context=='[]']

,id,timestamp,user_query,retrieved_context,final_response
6,ef5efc02-407b-4ae5-8245-4953ac43d056,2025-04-14T05:23:50.738471,Nuclear research,[],Found 408 showbags matching 'Nuclear research'...
7,8c155f80-26ee-4d8c-9af8-598cd2d32d62,2025-04-14T05:24:11.342078,Scientific reseaerch,[],Found 408 showbags matching 'Scientific reseae...
13,da36dfcf-3786-4455-ad3f-17eb29331c00,2025-04-14T05:27:40.796502,duran duran,[],Found 408 showbags matching 'duran duran' belo...
15,8e10e618-4a02-444b-a885-0a1ee98f7f65,2025-04-14T05:39:49.388742,disco,[],Found 408 showbags matching 'disco' below $50.
24,0e0d0051-3361-48c4-adad-494e6769a3ff,2025-04-15T04:33:48.792902,jewish,[],Found 408 showbags matching 'jewish' below $50.
31,c06f5523-bb82-4e08-88ac-662e0220929b,2025-04-15T07:32:33.177760,man who grew up in the 80s,[],Found 408 showbags matching 'man who grew up i...
42,6edd1568-59d9-416e-9fd9-a166c9368a83,2025-04-16T01:19:13.728956,wellbeing,[],Found 408 showbags matching 'wellbeing' below ...
44,b80861b6-ba78-40fa-abac-bbc42d652ac1,2025-04-16T01:19:29.083436,wellbeing,[],Found 408 showbags matching 'wellbeing' below ...
55,d534f7ed-073b-4fe6-85f9-bd275ab4568b,2025-04-16T04:16:42.533811,programming computers science,[],Found 408 showbags matching 'programming compu...
56,a849a2a2-ed37-41e7-bd8f-723ef83a72e9,2025-04-16T04:16:49.552143,science,[],Found 408 showbags matching ' science' below $50.
86,667ca815-1345-46d6-8d8e-970ba719edc9,2025-04-17T05:26:06.702906,tired father who wants sugar,[],Found 408 showbags matching 'tired father who ...
87,8cdab4c7-0dab-4633-83ba-eeb44f65bc19,2025-04-17T05:26:17.114084,ADHD adult,[],Found 408 showbags matching 'ADHD adult' below...
88,28b2d18f-2ba7-4d33-b729-ef729b813f8d,2025-04-17T05:26:48.223307,boring 30 year old man,[],Found 408 showbags matching 'boring 30 year ol...
91,87130e1b-988c-47af-a0cc-a9d6d8a2c3a3,2025-04-17T19:20:22.403321,Talyor swift,[],Found 408 showbags matching 'Talyor swift ' be...
92,bc5b1960-8934-44a1-ba56-32b04c5872c2,2025-04-17T19:20:30.320100,Taylor swift,[],Found 408 showbags matching 'Taylor swift ' be...
96,6714a79d-cf0b-4cf4-a77b-c41d82cb0962,2025-04-18T05:12:57.332322,Killer python,[],Found 408 showbags matching 'Killer python' be...

In [8]:
data[data.retrieved_context=='[]'].shape[0]/data.shape[0]

0.16494845360824742